/* LOGIN */

a {
    color: #12127A;
}

.loginPage {
    /* background-color: red; */
}

.WisproLogo {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    width: 50%;
    cursor: pointer;
}

.loginPaper {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test {
    background-color: red;
}

/* REGISTER */