/* LOGIN */

a {
    color: #12127A;
    text-decoration: none;
}

.OuterContainerLogin {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-image: url(./images/citylogin.jpg);
    background-size: cover;
  }

.InnerContainerLogin {
    width: 30%;
    filter: blur(0)
}

.WisproLogo {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    width: 50%;
    cursor: pointer;
}

.loginPaper {
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionsLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* REGISTER */

.OuterContainerRegister {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-image: url(./images/cityregister.jpg);
    background-size: cover;
  }

.InnerContainerRegister {
    width: 30%;
    filter: blur(0)
}

.loginPaper {
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* COPYRIGHT */

.Copyright {
    color: whitesmoke
}

.Copyright a {
    text-decoration: none;
    color: whitesmoke
}

.Copyright a:hover {
    text-decoration: underline;
}

/* VALIDATION ERRORS */

.validationErrors {
    color: blue
}

/* DASHBOARD */

.NoUsersDashboard {
    display: flex;
    justify-content: center;
}

.WisproLogoDashboard {
    width: 60%;
    cursor: pointer;
}

.Chart {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 50px;
}

.Divider {
    margin-top: 50px;
    /* margin-bottom: 20px; */
}

.EditUserButtons {
    display: flex;
    justify-content: space-around;
}